.user{
    border: #83afd2 2px solid;
    padding: 3px;
    margin: 3px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}
.user button{
    width: 90px;
    height: 35px;
}