.user{
   margin-left: 3px;
}
.userDetailsAndButton{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: #2571ff 2px solid;
}
.userDetailsAndButton button{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
}
